@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
  @apply bg-slate-900 text-white;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  transition: all 0.2s ease-in-out;
}

.container {
  @apply max-w-screen-md mx-auto px-2 sm:px-5;
}
